<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ========================================================= -->
    <!-- SMS PERMISSION                                            -->
    <!-- Required to send payment reminder SMS                     -->
    <!-- ========================================================= -->

    <uses-permission
        android:name="android.permission.SEND_SMS" />


    <!-- ========================================================= -->
    <!-- SMS IS OPTIONAL                                            -->
    <!-- Allows the app to run on tablets/Wi-Fi devices            -->
    <!-- ========================================================= -->

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />


    <!-- ========================================================= -->
    <!-- APPLICATION                                                -->
    <!-- ========================================================= -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Estor">


        <!-- ===================================================== -->
        <!-- PIN ACTIVITY                                           -->
        <!-- First screen when the app opens                       -->
        <!-- ===================================================== -->

        <activity
            android:name=".PinActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>


        <!-- ===================================================== -->
        <!-- ADD DEBT                                               -->
        <!-- ===================================================== -->

        <activity
            android:name=".AdddeptActivity"
            android:exported="false" />


        <!-- ===================================================== -->
        <!-- PAY DEBT                                               -->
        <!-- ===================================================== -->

        <activity
            android:name=".PaydeptActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".Paydept2Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>


        <!-- ===================================================== -->
        <!-- TRANSACTIONS                                           -->
        <!-- ===================================================== -->

        <activity
            android:name=".TransactionActivity"
            android:exported="false" />


        <!-- ===================================================== -->
        <!-- HISTORY                                                -->
        <!-- ===================================================== -->

        <activity
            android:name=".HistoryActivity"
            android:exported="false" />


        <!-- ===================================================== -->
        <!-- ADD DEBT 2                                             -->
        <!-- ===================================================== -->

        <activity
            android:name=".Adddept2Activity"
            android:exported="false" />


        <!-- ===================================================== -->
        <!-- SETTINGS                                               -->
        <!-- Change Recovery PIN / Payment Reminders               -->
        <!-- ===================================================== -->

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />


        <!-- ===================================================== -->
        <!-- MAIN ACTIVITY                                          -->
        <!-- Dashboard                                              -->
        <!-- ===================================================== -->

        <activity
            android:name=".MainActivity"
            android:exported="false" />


        <!-- ===================================================== -->
        <!-- PAYMENT REMINDER RECEIVER                              -->
        <!-- Receives the scheduled alarm and sends SMS reminders  -->
        <!-- ===================================================== -->

        <receiver
            android:name=".ReminderReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".History2Activity"
            android:exported="false" />


    </application>

</manifest>